<nav id="sidebar">
  <div class="sidebar-header text-center">
    <h2 id="heading-text">Menu</h2>
  </div>

  <ul class="nav nav-tabs text-center">
    <li class="nav-item w-100 first-nav-tab">
      <a>Home</a>
    </li>
    <li
      role="presentation"
      class="w-100"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="voters" role="tab" data-toggle="tab" class="nav-link"
        >Voters</a
      >
    </li>
    <li
      role="presentation"
      class="w-100"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="donors" role="tab" data-toggle="tab" class="nav-link"
        >Donors</a
      >
    </li>
    <li></li>
    <li
      role="presentation"
      class="w-100"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="search" role="tab" data-toggle="tab" class="nav-link"
        >Search</a
      >
    </li>
    <!-- <li role="presentation" routerLinkActive="active" class="w-100">
      <a routerLink="voters" role="tab" data-toggle="tab" class="nav-link"
        >Voters</a
      >
    </li> -->
    <li>
      <!-- <a routerLink="donors">Donations</a> -->
    </li>
    <li>
      <!-- <a href="#">Contact</a> -->
    </li>
  </ul>
</nav>
