<div class="row px-3 pb-3">
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

  <div class="col">
    <p-card>
      <ng-template pTemplate="header"> </ng-template>
      <div class="row gx-3 justify-content-center">
        <div class="col-3">
          <h4
            [ngClass]="userSearchType == 'donor' ? 'active-pane' : ''"
            (click)="onChangeSearchType(searchTypes.donor)"
            class="text-center nav-item p-3 ml-2 rounded"
          >
            Donors
          </h4>
        </div>
        <div class="col-3">
          <h4
            [ngClass]="userSearchType == 'voter' ? 'active-pane' : ''"
            (click)="onChangeSearchType(searchTypes.voter)"
            class="text-center nav-item p-3 rounded"
          >
            Voters
          </h4>
        </div>
        <div class="col-3">
          <h4
            [ngClass]="userSearchType == 'donations' ? 'active-pane' : ''"
            (click)="onChangeSearchType(searchTypes.donations)"
            class="text-center nav-item p-3 rounded"
          >
            Donations
          </h4>
        </div>
      </div>
      <ng-template pTemplate="content">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          action=""
          class="form-group"
        >
          <div>
            <label><strong>Table Columns</strong> </label>
            <div class="checkbox-group">
              <label class="custom-control-label" for="customSwitches">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitches"
                  (change)="onSelectAllCategories($event)"
                  #selectAllCategoriesCheck
                />
                Select All Columns?
              </label>
            </div>
            <div
              class="checkbox-group"
              class="row"
              *ngIf="!isAllCategoriesChecked"
            >
              <div *ngFor="let data of categories; let i = index" class="col-5">
                <div>
                  <label>
                    <input
                      type="checkbox"
                      [value]="data.value"
                      (change)="onCheckboxChange($event)"
                    />
                    {{ data.title }}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row mt-3">
              <div class="col-3">
                <label for="">How many Rows?</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="rows"
                />
              </div>
              <label
                *ngIf="!form.get('rows')!.valid && form.get('rows')!.touched"
                for=""
                >Please select a number between 1 - 2000</label
              >
            </div>
            <hr />
            <div class="row justify-content-end gx-2">
              <div class="col-2">
                <button
                  (click)="resetForm()"
                  class="btn btn-danger"
                  type="button"
                  value="Submit"
                >
                  Reset
                </button>
              </div>
              <div class="col-2">
                <button
                  class="btn btn-primary"
                  type="submit"
                  value="Submit"
                  [disabled]="form.invalid"
                >
                  Submit
                </button>
              </div>
            </div>
            <p
              class="error"
              *ngIf="this.form.controls['checkArray'].errors?.['required']"
            >
              Checkbox is required, select atleast one value.
            </p>

            <div class="alert alert-primary mt-2"></div>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer"> </ng-template>
    </p-card>
  </div>
</div>
