<nav class="navbar navbar-expand-lg bg-main">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto col-12">
      <li class="nav-item active offset-sm-1">
        <h1>PP-CRM</h1>
      </li>
      <li class="nav-item active d-flex offset-sm-8 align-items-center">
        <h3 class="btn btn-primary">
          <a style="color: white; text-decoration: none" routerLink="login"
            >Loggin</a
          >
        </h3>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
    </ul>
  </div>
</nav>
